{% extends "mainPage.html" %}
{% load staticfiles %}

{% block statisticshow %}
        <div style="width:100%">
		<canvas id="canvas" margin="auto"></canvas>
		<br><br><br>

		<form action = "" method = "post" align = "center">
		    {% csrf_token %}
		    <label for="cnt" style="color : #005555">Show First N tags statistics</label>
            <input type="text" name="cnt" id="cnt">
            <input class="btn btn-success" type="submit" value="Show">
		</form>
		</div>

      <script src="{% static "Chart/Chart.js" %}"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script>

	var radarChartData = {
		labels: [
            {% for tag in tags %}
                {% if forloop.first %}
                {%  else %}
                    ,
                {%  endif %}
                "{{ tag.get_tag }}"

            {%  endfor %}
                 ],

		datasets: [
			{
				label: "{{ user }} statistic",
				fillColor: "rgba(220,220,220,0.2)",
				strokeColor: "rgba(220,0,220,1)",
				pointColor: "rgba(220,0,0,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(220,220,220,1)",
				data : [
                    {%  for tag in tags %}
                    {%  if forloop.first %}
                    {%  else %}
                        ,
                    {% endif %}
                    {{ tag.power }}
                    {% endfor %}
                ]
			}
		]
	};

	window.onload = function(){
		window.myRadar = new Chart(document.getElementById("canvas").getContext("2d")).Radar(radarChartData, {
			responsive: true,
			pointLabelFontColor : "#222",
			pointLabelFontSize: 20
		});
		stretch();
	}

	</script>
{% endblock %}